* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  background-color: #f0f8ff;
}

.App {
  min-height: 80vh;
  width: 60vw;
  margin: 0 auto;
}

.search {
  padding: 1rem;
  background-color: #fff;
  border-radius: .25rem;
  margin: 0 auto;
}

.search input {
  height: 2rem;
  width: 100%;
  padding: 1rem;
}

.movie {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}

.movie button {
  margin-left: 1rem;
  height: 2rem;
}

.movie img {
  margin-right: 1rem;
  width: 8rem;
}

.allMovies {
  display: flex;
  margin: 0 auto;
}

.allMovies > div {
  width: 60%;
  min-height: 50vh;
  background-color: #fff;
  border-radius: .25rem;
  margin-top: 2rem;
  padding: 1rem;
}

.allMovies > div:last-child {
  min-height: 20vh;
  margin-left: 2rem;
}


/* Media queries start here */

@media (max-width:1400px) {
  .App {
    width: 80vw;
  }

  .movie img {
    width: 7rem;
  }
}

@media (max-width:600px) {
  .allMovies {
    flex-direction: column;
  }

  .allMovies > div {
    width: 100%;
  }

  .movie img {
    width: 5rem;
  }

  .allMovies > div:last-child {
    margin-left: unset;
  }
}

