* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  background-color: #f0f8ff;
  color: rgba(0, 0, 0, 0.9);
  font-family: 'Nunito Sans', sans-serif;
}

.App {
  min-height: 90vh;
  width: 60vw;
  margin: 0 auto;
}

.App h1, .App h2 {
  font-family: 'Halant', serif;
}

.search {
  padding: 1rem;
  background-color: #fff;
  border-radius: .25rem;
  margin: 1rem auto;
  -webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.1);
}

.search input {
  height: 2rem;
  width: 100%;
  padding: 1rem;
  font-family: 'Nunito Sans', sans-serif;
}

.App .banner h2 {
  color: #FF6A88;
}

.movie {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}

.movie button {
  margin-left: 1rem;
  height: 2.5rem;
  border: 0;
  border-radius: .2rem;
  cursor: pointer;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -moz-osx-font-smoothing: grayscale;
  padding: 0 1rem;
  background-color: #8EC5FC;
  background-image: linear-gradient(45deg, #8EC5FC 0%, #E0C3FC 100%);
  color: rgb(0, 0, 128, .8);
  text-transform: uppercase;
  font-weight: bold;
  -webkit-box-shadow: 0px 1rem 2rem 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1rem 2rem 0px rgba(0,0,0,0.1);
  box-shadow: 0px 1rem 2rem 0px rgba(0,0,0,0.1);
}

.movie button:disabled {
  background-color: rgba(142, 197, 252, 0.6);
  color: rgba(18, 18, 18, 0.4);
  cursor: default;
}

.allMovies > div:last-child .movie button {
  background-color: #FF9A8B;
  background-image: linear-gradient(45deg, #FF6A88 0%, #FF9A8B 100%);
  color: rgba(255, 255, 255, 0.9);
}

.movie img {
  margin-right: 1rem;
  width: 5rem;
}

.allMovies {
  display: flex;
  margin: 0 auto;
}

.allMovies > div {
  width: 60%;
  min-height: 50vh;
  background-color: #fff;
  border-radius: .25rem;
  margin-top: 1rem;
  padding: 1rem;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}

.allMovies > div:last-child {
  min-height: 20vh;
  margin-left: 2rem;
}

.allMovies h2 {
  margin-bottom: 1rem;
}

.allMovies a {
  text-decoration: none;
  color: unset;
}

/* Media queries start here */

@media (max-width:1400px) {
  .App {
    width: 80vw;
  }

  .movie img {
    width: 4rem;
  }
}

@media (max-width:600px) {
  .allMovies {
    flex-direction: column;
  }

  .allMovies > div {
    width: 100%;
  }

  .movie img {
    width: 3rem;
  }

  .allMovies > div:last-child {
    margin-left: unset;
  }
}

